/*
Copyright WARKS.DEV Contributors.
SPDX-License-Identifier: MIT
*/

@import url('site.css');

#countdown,
#countdown dl {
  display: flex;
}

#countdown {
  flex-direction: row;
  gap: 15px;
  margin-bottom: 60px;
}

#countdown,
article {
  justify-content: center;
}

#countdown dl {
  flex-direction: column;
  width: 60px
}

#countdown dt {
  font-size: 15px;
}

#countdown dd {
  font-size: 45px;
}

#countdown dd,
#countdown dt,
article h2,
article p {
  text-align: center;
}

#logo {
  width: 256px;
}

#rsvp {
  background-color: rgb(219, 189, 122);
  border-radius: 10px;
  border-style: none;
  color: rgb(30, 31, 34);
  display: inline-block;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
  font-weight: 600;
  padding: 15px;
  padding-left: 43px;
  padding-right: 45px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: fit-content;
}

#rsvp:hover {
  background-color: rgb(30, 31, 34);
  color: rgb(255, 255, 255);
}

article {
  align-items: center;
  font-size: 25px;
}